<div id="main">
  <link rel="stylesheet" href="/css/index.css">
  <script defer src="/js/indexapp.js"></script>
  <div class="logContainer">
    <br>
    <br>

    <h1 class="text-center">Компания Высокая гора</h1>
    <br>
    <br>
    <div id="img container" class="text-center">
      <div id="imgdiv">
        <img src="../pic/logo.jpg" class="mx-auto d-block" width="400" height="400">
      </div>
    </div>
    <br>
    <br>
    <div class="d-grid gap-2 col-4 mx-auto" id="formContainer">
      <button data-lgin="1" class="btn btn-success" type="button">Войти </button>
    </div>
    <br>
    <br>
    <br>
    <p class="mx-auto">
      <center>
        <p> Привет! Это корпоративный портал ООО “Высокая Гора”</p>
        <p>Чтобы получить доступ к сайту — обратись в департамент HR</p>
      </center>
    </p>
  </div>
</div>