<link rel="stylesheet" href="/css/index.css">
<script defer src="/js/indexapp.js"></script>
<div class="logContainer">
  <br>
  <br>

  <h1 class="text-center">Компания Высокая гора</h1>
  <br>
  <br>
  <div>
    {{!-- <img class="rounded mx-auto d-block"
      src="https://elbrus-bootcamp.notion.site/image/https%3A%2F%2Fs3-us-west-2.amazonaws.com%2Fsecure.notion-static.com%2F642542ae-a4b2-4a29-a37a-4ca2080102d5%2Fmountain.png?table=block&id=c5ecb8b7-d5a0-457e-913a-78968e32d878&spaceId=ae9a42d7-4691-4e42-8b18-b4afbde7a000&width=1020&userId=&cache=v2">
    --}}
    <img src="../pic/bg.png" class="rounded mx-auto d-block" width="400" height="400">

  </div>
  <br>
  <br>
  <div class="d-grid gap-2 col-4 mx-auto" id="formContainer">
    <button data-lgin="1" class="btn btn-success" type="button">Войти </button>
  </div>
  <br>
  <br>

  {{!-- <div id="formContainer" class="col-4 mx-auto">
  </div> --}}

  <br>
  <p class="mx-auto">
    <center>
      <p> Привет! Это корпоративный портал ООО “Высокая Гора”. </p>
      <p>Чтобы получить доступ к сайту — обратись в департамент HR.</p>
    </center>
  </p>
</div>