<link rel="stylesheet" href="/css/main.css">
<script defer src="/js/app.js"></script>

{{#if userId}}
<br>
<br>

<div class="mainContainer d-grid gap-2 col-4 mx-auto">
  <button data-wh="all" type="button" class="btn btn-light">Все листки адаптации</button>
  <button data-wh="my" type="button" class="btn btn-light">Мои листки адаптации</button>
  {{#if admin}}
  <button data-wh="user" type="button" class="btn btn-light">Пользователи</button>
  {{/if}}
  <button data-wh="out" type="button" class="btn btn-secondary">Выход</button>
  <div class="infoContainer text-dark">
  </div>
  <ol id="ulContainer" class="text-dark">

  </ol>
  <div class="buttonContainer">

  </div>
</div>
<br>
<center><img src="../pic/bg.png" class="background" width="400" height="400" /></center>
{{/if}}